<div class="findAllContainer">
  <div class="row ten-gutters" mt-5>
    <div class="col-md-2" style="margin-top: 2em;">
      <app-similar></app-similar>
    </div>
    <div class="col-md-6" style="margin-top: 2em;">


      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs nav-justified" id="myTab"
            role="tablist">
            <li class="nav-item" (click)="fireGraph('force')">
              <a class="nav-link active" id="home-tab"
                data-toggle="tab" href="#home" role="tab"
                aria-controls="home" aria-selected="true">
                Browse from
                concept: <strong>{{ term$ | async }}</strong>
                <button id="button-addon5"
                  class="btn btn-outline-secondary" type="button"
                  data-toggle="collapse"
                  data-target="#collapseExample"
                  aria-expanded="false"
                  aria-controls="collapseExample">
                  <fa-icon id="searcConceptIcon"
                    [icon]="faSearch" placement="top"
                    ngbTooltip="Browse from another concept"
                    title="Browse from another concept">
                  </fa-icon>
                </button>
              </a>
            </li>
            <li class="nav-item" (click)="fireGraph('decades')">
              <a class="nav-link" id="profile-tab"
                data-toggle="tab" href="#profile" role="tab"
                aria-controls="profile"
                aria-selected="false">Decades chart</a>
            </li>
          </ul>
        </div>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <app-search-form></app-search-form>
          </div>
        </div>
        <div class="card-body" id="myTabContent">
          <div class="tab-pane" *ngIf="activeGraph === 'force'"
            id="home" role="tabpanel" aria-labelledby="home-tab">
            <app-similar-graph></app-similar-graph>
          </div>
          <div class="tab-pane" *ngIf="activeGraph === 'decades'"
            id="profile" role="tabpanel"
            aria-labelledby="profile-tab">
            <app-decades-graph></app-decades-graph>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 2em;">
      <div class="row">
        <div class="col-md-12">
          <app-corpus-findall-card [word]="word">
          </app-corpus-findall-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-wiki></app-wiki>
        </div>
      </div>

    </div>

  </div>
</div>