@import "../../../variables.scss";
:host {

  .findAllContainer {
    min-height: calc(((100vh - 165.594px) /4) * 3);
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .list-group {
    max-height: 40vh;
    overflow: auto;
  }

  .row.ten-gutters {
    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  #button-addon5 {
		border: none;
		background-color: $ec-white;
		&:hover {
			color: #868e96;
		}
	}
}
