@import "../../../variables.scss";
@import "../../../ec-styles.scss";

:host {

  .checkbox-info {
    border: none;
    border-color: #868e96;
    background-color: $ec-white;
      &:hover {
        color: #868e96;
      }
  }
  .eurlexActs {
    column-count: 3;
  }

  group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }

  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0.25rem;
  }

  .input-group > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  // #inputGroupSelect01, #inputGroupSelect02 {
  //   border-top-right-radius: 0.25rem;
  //   border-bottom-right-radius: 0.25rem;
  // }

  .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25;
    border-bottom-right-radius: 0.25;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}


  .custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  // .ng-select.test-select ::ng-deep .ng-select-container {
    // display: inline-block;
    // width: 100%;
    // height: calc(1.5em + 0.75rem + 2px);
    // padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    // font-size: 1rem;
    // font-weight: 400;
    // line-height: 1.5;
    // color: #495057;
    // vertical-align: middle;
    // border: 1px solid #ced4da;
    // border-radius: 0.25rem;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
  // }
}
