@import "../../../ec-styles.scss";
@import "../../../variables.scss";

:host {

  .homeContainer {
    min-height: calc(((100vh - 165.594px) / 6) * 5);
    padding: calc(((100vh - 165.594px) / 100) * 1) 0 0 0;
    margin: 0;
  }

  .card-img-top {
    width: 100%;
    height: 50vh;
  }

  .nav-link {
    border: 1px solid $ec-grey-20;
    color: $ec-grey-75;
    background-color: $ec-grey-5;
    font-weight: 400;
    margin: 1em;
    outline: none;
    &:hover {
      color: $ec-grey-100;
      outline: none;
    }
    &.active {
      border: 1px solid $ec-grey-75;
      color: $ec-grey-100;
      background-color: $ec-grey-10;
      outline: none;
    }
  }

  .input-group.input-group-lg {
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
    &:hover {
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
      border-color: rgba(223, 225, 229, 0);
    }
    &:focus {
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
      border-color: rgba(223, 225, 229, 0);
    }
  }

  .form-container {
    padding: 1.3em 0.8em 1em;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    width: 70%;
  }

  .dropdown-item {
    padding: 0.4em;
    &:active {
      color: #000000;
      background-color: $ec-white;
    }
    &:hover {
      background-color: $ec-grey-10;
    }
  }

  .home-dropdown {
    width: calc(100%);
  }

  #button-addon5 {
    border: none;
    background-color: $ec-white;
    &:hover {
      color: #868e96;
    }
    &:active {
      background-color: $ec-white;
      color: #868e96;
    }
  }

  .form-control {
    border: none;
  }

  .h-grp-append {
    border: none;
    border-radius: 0.3rem;
    background-color: $ec-white;
  }

  .site-title {
    font-size: 2.5rem;
    color: $ec-blue;
  }

  .intro {
    .jumbotron {
      background-color: inherit;
    }
  }
}
