<div class="container-fluid" >
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="semanticDocument && !toBeDeleted">
        <div class="card-header container-fluid"
          id="newsHeading" [ngClass]="{'key_document_warning': checkIfKeyDocumentApplied()}">
          <div class="d-flex flex-row  mb-3">
            <div class="p-2 ">
              <button type="button"
                class="btn btn-outline-secondary searchbar-info"
                (click)="toggleSemanticSort()">
                <fa-icon *ngIf="isChecked" size="lg"
                  [icon]="faCheckSquare">
                </fa-icon>
                <fa-icon *ngIf="!isChecked" size="lg"
                  [icon]="faSquare">
                </fa-icon>
              </button>
            </div>
            <div class="p-2 ">
              <button type="button"
                class="btn btn-outline-secondary searchbar-info"
                (click)="deleteSemanticDocument()">
                <fa-icon size="lg" [icon]="faTrashAlt">
                </fa-icon>
              </button>
            </div>
            <div class="p-2">
              <div class="d-flex align-items-center">
                <div class="d-flex flex-row  mb-3"
                  *ngIf="semanticDocument.celex_links">
                  <div
                    *ngFor="let celexLink of semanticDocument.celex_links">
                    <button *ngIf="celexLink.type === 'all'"
                      class="btn btn-outline-secondary peek-document pr-0"
                      type="button"
                      (click)="goToLink(celexLink.link)">
                      <svg width="28" height="20.975"
                        viewBox="0 0 110.8 93.5 "
                        xmlns="http://www.w3.org/2000/svg">
                        <metadata id="metadata212">
                          image/svg+xml
                        </metadata>
                        <defs>
                          <clipPath id="clipPath218"
                            clipPathUnits="userSpaceOnUse">
                            <rect fill="#0000ff"
                              fill-rule="evenodd"
                              stroke-width="1.00218" y="0.06657"
                              x="-0.55395" height="94.01003"
                              width="111.10598" id="rect220" />
                          </clipPath>
                        </defs>
                        <style type="text/css">

                        </style>
                        <g>
                          <title>background</title>
                          <rect fill="none"
                            id="canvas_background" height="95.5"
                            width="112.8" y="-1" x="-1" />
                        </g>
                        <g>
                          <title>Eurlex</title>
                          <g clip-path="url(#clipPath218)"
                            id="g205">
                            <g id="g187">
                              <rect id="rect137" height="9.1"
                                width="93.5" class="st0" y="59"
                                x="8.5" />
                              <rect id="rect139" height="9.1"
                                width="93.5" class="st1"
                                x="8.5" />
                              <rect id="rect141" height="9.1"
                                width="76.5" class="st2"
                                x="17" />
                              <rect id="rect143" height="51"
                                width="9.1" class="st3" y="8.5"
                                x="92.9" />
                              <rect id="rect145" height="51"
                                width="9.3" class="st4" y="8.5"
                                x="101.3" />
                              <rect id="rect147" height="51"
                                width="9.3" class="st2" y="8.5"
                                x="8.5" />
                              <rect id="rect149" height="51"
                                width="8.9" class="st1"
                                y="8.5" />
                              <g id="g155">
                                <polygon id="polygon151"
                                  points="51,68 93.5,68 93.5,58.5 17,58.5 17,68 34,68 34,76.5 42.5,76.5 42.5,85 51,85    "
                                  class="st5" />
                                <rect id="rect153" height="8.5"
                                  width="8.5" class="st5" y="85"
                                  x="51" />
                              </g>
                              <g id="g185">
                                <rect id="rect157" height="51"
                                  width="76.5" class="st6"
                                  y="8.5" x="17" />
                                <g id="g183">
                                  <polygon id="polygon159"
                                    points="53.4,20.1 55.3,18.7 57.1,20.1 56.4,17.9 58.3,16.5 56,16.5 55.3,14.3 54.6,16.5 52.3,16.5       54.1,17.9     "
                                    class="st7" />
                                  <polygon id="polygon161"
                                    points="45,22.3 46.9,21 48.7,22.3 48,20.2 49.9,18.8 47.6,18.8 46.9,16.6 46.2,18.8 43.8,18.8 45.7,20.2           "
                                    class="st7" />
                                  <polygon id="polygon163"
                                    points="40.7,22.7 40,25 37.7,25 39.6,26.3 38.9,28.5 40.7,27.2 42.6,28.5 41.9,26.3 43.8,25 41.4,25           "
                                    class="st7" />
                                  <polygon id="polygon165"
                                    points="38.5,35.5 40.3,36.9 39.6,34.7 41.5,33.4 39.2,33.4 38.5,31.1 37.8,33.4 35.4,33.4 37.3,34.7       36.6,36.9     "
                                    class="st7" />
                                  <polygon id="polygon167"
                                    points="41.4,41.8 40.7,39.5 40,41.8 37.7,41.8 39.6,43.1 38.9,45.3 40.7,44 42.6,45.3 41.9,43.1       43.8,41.8     "
                                    class="st7" />
                                  <polygon id="polygon169"
                                    points="47.6,47.9 46.9,45.7 46.2,47.9 43.9,47.9 45.7,49.3 45,51.5 46.9,50.1 48.8,51.5 48,49.3       49.9,47.9     "
                                    class="st7" />
                                  <polygon id="polygon171"
                                    points="56,50.2 55.3,47.9 54.6,50.2 52.3,50.2 54.1,51.5 53.4,53.7 55.3,52.4 57.1,53.7 56.4,51.5       58.3,50.2     "
                                    class="st7" />
                                  <polygon id="polygon173"
                                    points="64.4,47.9 63.7,45.7 63,47.9 60.6,47.9 62.5,49.3 61.8,51.5 63.7,50.1 65.5,51.5 64.8,49.3       66.7,47.9     "
                                    class="st7" />
                                  <polygon id="polygon175"
                                    points="70.6,41.8 69.8,39.5 69.1,41.8 66.8,41.8 68.7,43.1 68,45.3 69.8,44 71.7,45.3 71,43.1 72.9,41.8           "
                                    class="st7" />
                                  <polygon id="polygon177"
                                    points="75.1,33.3 72.8,33.3 72.1,31.1 71.4,33.3 69,33.3 70.9,34.7 70.2,36.9 72.1,35.5 73.9,36.9       73.2,34.7     "
                                    class="st7" />
                                  <polygon id="polygon179"
                                    points="68,28.5 69.8,27.1 71.7,28.5 71,26.3 72.9,24.9 70.6,24.9 69.8,22.7 69.1,24.9 66.8,24.9       68.7,26.3     "
                                    class="st7" />
                                  <polygon id="polygon181"
                                    points="63.7,16.6 63,18.8 60.7,18.8 62.6,20.2 61.9,22.3 63.7,21 65.6,22.3 64.9,20.2 66.7,18.8       64.4,18.8     "
                                    class="st7" />
                                </g>
                              </g>
                            </g>
                            <g id="g203">
                              <path id="path189"
                                d="m133.2,59.6l0,-51l26.1,0l0,3.7l-21.9,0l0,19l20.2,0l0,3.7l-20.2,0l0,20.8l21.9,0l0,3.7l-26.1,0l0,0.1z"
                                class="st8" />
                              <path id="path191"
                                d="m185.1,60.3c-9,0 -16.1,-5.7 -16.1,-15.1l0,-36.6l4.3,0l0,36.7c0,7 5.3,11.3 11.8,11.3c6.6,0 11.8,-4.2 11.8,-11.3l0,-36.7l4.3,0l0,36.7c0.1,9.3 -7,15 -16.1,15z"
                                class="st8" />
                              <path id="path193"
                                d="m241.6,59.6l-8.7,-17.1c-2,-4 -4.7,-6.1 -9.4,-6.1l-5.9,0l0,23.2l-4.2,0l0,-49.1c3.4,-1.6 8.3,-2.7 13,-2.7c11.5,0 17.4,5.9 17.4,14c0,8.5 -5.2,12.3 -12.6,13.4l0,0.1c2.5,1.1 4.4,3.5 6,6.6l9.1,17.6l-4.7,0l0,0.1zm-15.1,-48.2c-3.3,0 -6.8,0.6 -8.9,1.5l0,20.1l7.3,0c9,0 14.7,-2.8 14.7,-11c0,-6.3 -4.3,-10.6 -13.1,-10.6z"
                                class="st8" />
                              <path id="path195"
                                d="m251.8,38.7l0,-3.9l18.8,0l0,3.9l-18.8,0z"
                                class="st8" />
                              <path id="path197"
                                d="m280.5,59.6l0,-51l9.9,0l0,42.7l15.9,0l0,8.3l-25.8,0z"
                                class="st5" />
                              <path id="path199"
                                d="m344.6,41.3l-24.5,3.3c0.8,5.6 4.9,8.3 10.5,8.3c3.8,0 7.9,-1 10.6,-2.4l2.7,7.2c-3.2,1.6 -8.5,2.7 -14,2.7c-12.5,0 -19.2,-8.2 -19.2,-19.9c0,-11.6 6.6,-19.8 17.6,-19.8c10.5,0 16.4,6.9 16.4,17.3c0,1.1 0,2.1 -0.1,3.3zm-16.4,-13.6c-5,0 -8.5,3.7 -8.7,10.8l15.9,-2.2c0,-5.7 -2.8,-8.6 -7.2,-8.6z"
                                class="st5" />
                              <path id="path201"
                                d="m374.7,59.6l-7.8,-13.2l-0.1,0l-7.8,13.2l-11.1,0l13,-19.7l-11.9,-18.3l10.9,0l6.9,12.1l0.1,0l7,-12.1l10.8,0l-11.8,18.3l13,19.7l-11.2,0z"
                                class="st5" />
                            </g>
                          </g>
                        </g>
                      </svg>
                    </button>
                    <button *ngIf="celexLink.type === 'html'"
                      class="btn btn-outline-secondary peek-document pr-0"
                      type="button" placement="top"
                      ngbTooltip="html"
                      (click)="goToLink(celexLink.link)"
                      title="html">
                      <fa-icon size="lg" class="html"
                        [icon]="faFileCode">
                      </fa-icon>
                    </button>
                    <button *ngIf="celexLink.type === 'pdf'"
                      class="btn btn-outline-secondary peek-document pr-0"
                      type="button"
                      (click)="goToLink(celexLink.link)"
                      placement="top" ngbTooltip="pdf"
                      title="pdf">
                      <fa-icon size="lg" class="pdf"
                        [icon]="faFilePdf">
                      </fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-2">
              <div class="d-flex align-items-center mt-2">
                <strong>{{ semanticDocument.date | date: 'yyyy'
                  }}</strong>
              </div>
            </div>
            <div class="p-2">
              <div class="row">
                <div class="col-md-12 mt-2">
                  <strong>{{semanticDocument.title}}</strong>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>