<!-- somewhere in your root component template -->

<app-main-navbar></app-main-navbar>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<p-toast key="tl"></p-toast>
<router-outlet></router-outlet>

<app-footer></app-footer>