<!-- somewhere in your root component template -->
<div id="overlay"
    class="d-flex justify-content-center align-items-center"
    *ngIf="loading">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<header>
    <div class="container-fluid h-100 mt-1 ">
        <div
            class="row justify-content-start align-items-center">
            <div class="logo mt-3 mb-3">
                <img style="width: 100%; height: 100%;"
                src="../seta-ui/assets/seta-logo.png" >
                    <!-- src="../../../assets/seta-logo.png" -->
                <!-- seta-logo.png -->
                <!-- <svg version="1.1" id="Layer_1"
                    xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="290" height="72" viewBox="0 0 290 72"
                    style="enable-background: new 0 0 290 72"
                    xml:space="preserve">
                    <style type="text/css"></style>
                    <g>
                        <g id="Page-1" sketch:type="MSPage">
                            <g id="Version-2-menu"
                                transform="translate(-131.000000, -108.000000)"
                                sketch:type="MSArtboardGroup">
                                <g id="Site-header"
                                    transform="translate(131.000000, 108.000000)"
                                    sketch:type="MSLayerGroup">
                                    <g id="logo-copy">
                                        <g id="Group-20">
                                            <g id="Group-18-Copy"
                                                sketch:type="MSShapeGroup">
                                                <path
                                                    id="Fill-40"
                                                    class="st0"
                                                    d="M0,24.5c0,0,39.8-5.2,41-5.4c1.7-0.3,3.3-0.6,4.7-1c3.2-0.9,6.2-2.2,8.8-4         c2.5-1.7,4.9-4.2,7.2-6.9c1.5-1.7,3-4,4.5-6.2V0c-1.7,2.6-3.4,4.8-5.1,6.7c-2.3,2.6-4.7,4.7-7.2,6.3s-5.4,2.9-8.5,3.7         c-1.4,0.4-2.9,0.6-4.6,0.9c-1.1,0.2-2.2,0.3-3.3,0.4C37,18,0,21.9,0,21.9V24.5z" />
                                                <path
                                                    id="Fill-41"
                                                    class="st0"
                                                    d="M53.4,17.8c-2.5,1.4-5.4,2.5-8.6,3.1c-1.4,0.3-2.8,0.5-4.5,0.7c-1,0.1-2,0.2-3,0.3         c-0.5,0-1.1,0.1-1.6,0.1C23.5,23.2,11.4,24.3,0,25.4V28c11.4-1.4,23.7-2.9,35.9-4.3c0.5-0.1,1.1-0.1,1.6-0.2         c1-0.1,2-0.2,3-0.4c1.7-0.2,3.3-0.5,4.6-0.8c3.3-0.7,6.3-1.9,8.9-3.5c2.6-1.6,4.8-3.7,7.3-6.4c1.5-1.7,3.2-4,4.8-6.2v-1         c-1.9,2.5-3.6,4.7-5.4,6.5C58.3,14.4,55.9,16.4,53.4,17.8" />
                                                <path
                                                    id="Fill-42"
                                                    class="st0"
                                                    d="M60.4,17.2c-2.4,2.2-5,4-7.5,5.3c-2.5,1.2-5.3,2.1-8.6,2.6c-1.4,0.2-2.8,0.4-4.5,0.6         L0,28.9v2.6l35.3-3.8l4.6-0.5c1.7-0.2,3.2-0.4,4.6-0.7c3.4-0.6,6.3-1.6,8.9-2.9c2.7-1.4,5.3-3.6,7.8-6         c1.7-1.6,3.2-3.7,4.9-5.8v-0.9C64.1,13.4,62.3,15.4,60.4,17.2" />
                                                <path
                                                    id="Fill-43"
                                                    class="st0"
                                                    d="M50.8,30.6c-2.3,1.3-4,2.1-7.3,2.4c-2,0.2-4,0.3-6,0.4c-1,0-1.9,0.1-2.9,0.2         c-6,0.3-11.9,0.7-17.9,1.1L0,35.9v2.6l16.8-1.6c5.4-0.5,11.7-1.1,17.9-1.6l4.5-0.3c1.7-0.1,3.2-0.3,4.5-0.5         c3.4-0.4,6.3-1.1,8.9-2.1c2.8-1,5.4-2.7,8-4.6c2.4-1.7,5.6-5.1,5.6-5.2v-0.9c-2.1,2.1-3.4,3.3-5.7,4.8         C57.6,28.5,52.9,29.5,50.8,30.6" />
                                                <path
                                                    id="Fill-44"
                                                    class="st0"
                                                    d="M51.6,35.6c-2.5,0.7-5.3,1.2-8.6,1.5c-1.3,0.1-2.8,0.2-4.4,0.3l-4.4,0.2         c-11,0.5-22,1.1-34.1,1.7v2.6C11.7,41,23,40.1,34.4,39.3l4.4-0.3c1.7-0.1,3.1-0.2,4.5-0.4c3.4-0.4,6.3-1,8.8-1.8         c2.8-0.9,5.6-2.2,8.2-3.9c1.9-1.2,3.9-2.7,5.9-4.5l0,0c-2.2,1.9-4.3,2.3-6.4,3.6C57.1,33.6,54.4,34.8,51.6,35.6" />
                                                <path
                                                    id="Fill-45"
                                                    class="st0"
                                                    d="M51.2,39.9c-2.5,0.6-5.3,1-8.6,1.2c-1.3,0.1-2.7,0.2-4.4,0.2l-4.4,0.2         C22.7,41.9,11.5,42.4,0,42.9v2.6c11.4-0.8,22.6-1.5,33.9-2.3l4.4-0.3c1.7-0.1,3.1-0.2,4.4-0.3c3.4-0.3,6.2-0.8,8.8-1.5         c2.9-0.8,5.7-1.9,8.4-3.3c2.1-1.1,4.1-2.4,6.2-4v-1.1c-2.3,1.7-4.5,3-6.7,4.1C56.8,38.2,54,39.2,51.2,39.9" />
                                                <path
                                                    id="Fill-46"
                                                    class="st0"
                                                    d="M50.8,44.1c-2.5,0.5-5.3,0.8-8.6,0.9c-1.3,0.1-2.6,0.1-4.3,0.2L0,46.2v2.6L33.6,47l4.4-0.2         c1.7-0.1,3.1-0.2,4.4-0.3c3.4-0.3,6.1-0.6,8.7-1.2c2.9-0.6,5.8-1.5,8.5-2.7c2.2-0.9,4.3-2,6.6-3.4v-1c-2.4,1.4-4.7,2.5-7,3.4         C56.5,42.8,53.7,43.6,50.8,44.1" />
                                                <path
                                                    id="Fill-47"
                                                    class="st0"
                                                    d="M50.5,48.3c-4.7,0.6-9.4,0.7-14.1,0.8c-1.1,0-2.1,0-3.2,0.1L0,49.8v2.6L33.3,51         c1.1,0,2.1-0.1,3.2-0.1c4.7-0.2,9.5-0.4,14.2-1.1c3-0.5,5.9-1.2,8.5-2.1c2.2-0.7,4.5-1.7,6.8-2.9v-1         c-2.4,1.1-4.9,2.1-7.2,2.8C56.3,47.3,53.5,48,50.5,48.3" />
                                                <path
                                                    id="Fill-48"
                                                    class="st0"
                                                    d="M50.3,52.6C45.9,53,41.5,53,37.1,53c-1.3,0-2.7,0-4,0c-11,0-22,0.1-33.1,0.2v2.6         c10.6-0.4,21.9-0.7,33.2-1.1c1.3,0,2.7-0.1,4-0.1c4.3-0.1,8.8-0.2,13.2-0.7c3.1-0.3,5.9-0.8,8.6-1.5c2.3-0.6,4.7-1.4,7.2-2.3         v-0.9c-2.5,0.9-5,1.6-7.4,2.2C56.1,52,53.3,52.4,50.3,52.6" />
                                                <path
                                                    id="Fill-49"
                                                    class="st0"
                                                    d="M50.1,56.8c-1.8,0.1-3.8,0.1-6,0.1c-0.8,0-1.7,0-2.5,0L33,56.8c-5.9,0-11.7-0.1-17.2-0.1         L0,56.8v2.6L15.9,59c5.5-0.1,11.3-0.3,17.1-0.4l8.6-0.1c2.4,0,5.5-0.1,8.6-0.3s5.9-0.5,8.6-0.9c2.4-0.4,4.9-0.9,7.4-1.5v-0.9         c-2.5,0.6-5.1,1.1-7.5,1.4C55.9,56.5,53.2,56.7,50.1,56.8" />
                                                <path
                                                    id="Fill-50"
                                                    class="st0"
                                                    d="M41.5,60.9l-8.6-0.1C22,60.6,11.1,60.4,0,60.2v2.6c10.6-0.1,21.8-0.2,32.9-0.3l8.6-0.1         c2.9,0,5.7-0.1,8.6-0.2c5.9-0.2,11.1-0.6,16.1-1.3V60c-4.9,0.5-10.2,0.8-16.1,0.9C47.2,60.9,44.3,60.9,41.5,60.9" />
                                                <path
                                                    id="Fill-51"
                                                    class="st0"
                                                    d="M66.1,65.5L0,63.8v2.6h66.1V65.5z" />
                                                <path
                                                    id="Fill-52"
                                                    class="st0"
                                                    d="M60.2,22c-2.5,2-4.5,3.5-7.5,4.7c-2.7,1.1-5.6,1.5-8.8,2c-2.1,0.3-4.3,0.7-6.4,0.9         c-0.9,0.1-1.7,0.1-2.6,0.2L0,32.3v2.6l34.9-3.4l4.5-0.4c1.7-0.2,3.2-0.3,4.6-0.6c3.4-0.5,6.3-1.4,8.9-2.6         c2.7-1.2,5.5-3.2,8-5.3c1.7-1.5,3.4-3.3,5.2-5.3v-0.9C63.9,18.6,62.1,20.5,60.2,22" />
                                                <path
                                                    id="Fill-53"
                                                    class="st0"
                                                    d="M94.2,0c0,0,11.9,18.9,14.1,22.4s4.7,6.2,13.5,8.1s12.6,2.7,12.6,2.7v0.7         c0,0-5.6-1.2-12.8-2.8c-7.2-1.6-10.1-2.1-13.4-6.7c-2.7-3.8-14-19.9-14-19.9L94.2,0z" />
                                                <path
                                                    id="Fill-54"
                                                    class="st0"
                                                    d="M94.2,21.6c0,0,10.8,11.3,14,14.6c3.3,3.5,7.6,4.7,13.5,5.8c5.6,1,12.7,2.2,12.7,2.2v0.6         c0,0-6.7-1.1-12.7-2.1c-5.9-1-10.1-1.6-13.5-4.7c-3-2.8-13.9-13-13.9-13L94.2,21.6L94.2,21.6z" />
                                                <path
                                                    id="Fill-55"
                                                    class="st0"
                                                    d="M94.2,26.8c0,0,10.3,9.6,14,12.8c3.4,3,6.1,3.9,13.5,5.3c7.4,1.3,12.7,2.1,12.7,2.1v0.7         c0,0-6.7-1.1-12.7-2.1s-9.9-1.3-13.5-4.3c-4.2-3.4-14-11.4-14-11.4V26.8z" />
                                                <path
                                                    id="Fill-56"
                                                    class="st0"
                                                    d="M94.2,32.2c0,0,11.8,9.3,14,11c2.2,1.6,5.1,3.5,13.5,4.8c8.4,1.2,12.7,1.8,12.7,1.8v0.7         c0,0-7.6-1.1-12.7-1.7c-5.1-0.6-9-0.9-13.5-3.9c-4.4-2.9-14-9.7-14-9.7V32.2z" />
                                                <path
                                                    id="Fill-57"
                                                    class="st0"
                                                    d="M94.2,37.4c0,0,11.8,7.9,14,9.1c2.2,1.2,4.9,3.3,13.5,4.4c8.6,1.1,12.7,1.6,12.7,1.6v0.7         c0,0-7.1-0.8-12.7-1.4c-5.6-0.6-9.4-1.4-13.5-3.7s-14-8-14-8V37.4z" />
                                                <path
                                                    id="Fill-58"
                                                    class="st0"
                                                    d="M94.2,42.7c0,0,10.4,5.7,14,7.4c3.9,2,7.3,2.9,13.5,3.7c6.1,0.7,12.7,1.4,12.7,1.4v0.6         c0,0-6.1-0.7-12.7-1.3c-6.5-0.6-8.8-0.9-13.5-3c-4.2-1.9-14-6.4-14-6.4V42.7z" />
                                                <path
                                                    id="Fill-59"
                                                    class="st0"
                                                    d="M94.2,48c0,0,8.2,3.5,14,5.8c5.7,2.3,10,2.5,13.5,2.8c1.5,0.2,12.6,1.3,12.6,1.3v0.6         c0,0-6.6-0.5-12.7-1.1c-6-0.5-8.6-0.8-13.5-2.4c-4.9-1.6-14-4.8-14-4.8L94.2,48L94.2,48z" />
                                                <path
                                                    id="Fill-60"
                                                    class="st0"
                                                    d="M94.2,53.4c0,0,8.3,2.6,14,4.1s10.9,2.1,13.5,2.3s12.7,1,12.7,1v0.6c0,0-5.7-0.4-12.7-0.9         c-5.7-0.4-10.2-0.8-13.5-1.6c-3.7-0.8-14-3.3-14-3.3V53.4z" />
                                                <path
                                                    id="Fill-61"
                                                    class="st0"
                                                    d="M94.2,58.7c0,0,6.8,1.2,14,2.4c5.4,0.9,12.7,1.5,13.5,1.5s12.7,0.9,12.7,0.9v0.6         c0,0-7.6-0.4-12.7-0.7c-5.3-0.3-10.5-0.6-13.5-0.9c-6.7-0.7-14-1.6-14-1.6V58.7z" />
                                                <path
                                                    id="Fill-62"
                                                    class="st0"
                                                    d="M94.2,64.3c0,0,10.7,0.4,14,0.5s26.2,1,26.2,1v0.6H94.2V64.3z" />
                                                <path
                                                    id="Fill-63"
                                                    class="st0"
                                                    d="M121.7,33.4c-9.7-2.1-11.9-5.6-13.5-7.8S94.3,5.4,94.3,5.4v4.1c0.5,0.6,11,14.4,14,18.2         c3.3,4.3,8.5,5.3,13.5,6.3c5,1.1,12.7,2.6,12.7,2.6V36C134.4,36,124.2,34,121.7,33.4" />
                                                <path
                                                    id="Fill-64"
                                                    class="st0"
                                                    d="M121.7,36.3c-8-1.6-11.2-4.1-13.5-7.1c-2.3-3.1-13.9-18.3-13.9-18.3v3.8         c0.5,0.6,11.1,13.1,13.9,16.4c3.3,3.8,7.9,4.8,13.5,5.8s12.7,2.4,12.7,2.4v-0.6C134.4,38.7,126.3,37.2,121.7,36.3" />
                                                <path
                                                    id="Fill-65"
                                                    class="st0"
                                                    d="M121.7,39.2c-8.3-1.6-10-2.9-13.5-6.8c-2.2-2.4-13.5-15.7-14-16.3v3.5         c0,0,10.5,11.2,13.9,14.6c4.4,4.4,8.6,4.7,13.5,5.6c4.9,0.9,12.7,2.3,12.7,2.3v-0.6C134.4,41.5,125,39.9,121.7,39.2" />
                                                <path
                                                    id="Fill-66"
                                                    class="st1"
                                                    d="M85.4,27.6H27.5v38.7h57.9V27.6z" />
                                                <path
                                                    id="Fill-67"
                                                    class="st2"
                                                    d="M57.1,33.1h2l-1.6,1.3l0.6,2l-1.6-1.2l-1.6,1.2l0.6-2l-1.6-1.3h2l0.6-2L57.1,33.1z" />
                                                <path
                                                    id="Fill-68"
                                                    class="st2"
                                                    d="M57.1,58.9h2l-1.6,1.2l0.6,1.9l-1.6-1.2L54.9,62l0.6-1.9l-1.6-1.2h2l0.6-1.9L57.1,58.9z" />
                                                <path
                                                    id="Fill-69"
                                                    class="st2"
                                                    d="M63.5,57.2h2l-1.6,1.2l0.6,1.9l-1.6-1.2l-1.6,1.2l0.6-1.9l-1.6-1.2h2l0.6-1.9L63.5,57.2z" />
                                                <path
                                                    id="Fill-70"
                                                    class="st2"
                                                    d="M63.5,34.8h2L63.9,36l0.6,1.9l-1.6-1.2L61.3,38l0.7-2l-1.6-1.2h2l0.6-1.9L63.5,34.8z" />
                                                <path
                                                    id="Fill-71"
                                                    class="st2"
                                                    d="M68.3,39.6h2l-1.6,1.2l0.6,1.9l-1.6-1.2l-1.6,1.2l0.6-1.9l-1.6-1.2h2l0.6-1.9L68.3,39.6z" />
                                                <path
                                                    id="Fill-72"
                                                    class="st2"
                                                    d="M68.3,52.6h2l-1.6,1.2l0.6,1.9l-1.6-1.2l-1.6,1.2l0.6-1.9l-1.6-1.2h2l0.6-1.9L68.3,52.6z" />
                                                <path
                                                    id="Fill-73"
                                                    class="st2"
                                                    d="M70.1,46h2l-1.6,1.2l0.6,1.9l-1.6-1.2l-1.6,1.2l0.6-1.9L66.8,46h2l0.6-1.9L70.1,46z" />
                                                <path
                                                    id="Fill-74"
                                                    class="st2"
                                                    d="M50.5,34.8h2L50.9,36l0.6,1.9L50,36.8L48.3,38l0.6-1.9l-1.6-1.2h2L50,33L50.5,34.8z" />
                                                <path
                                                    id="Fill-75"
                                                    class="st2"
                                                    d="M45.9,39.6h2l-1.6,1.2l0.6,1.9l-1.6-1.2l-1.6,1.2l0.6-1.9l-1.6-1.2h2l0.6-1.9L45.9,39.6z" />
                                                <path
                                                    id="Fill-76"
                                                    class="st2"
                                                    d="M44.2,46h2l-1.6,1.2l0.6,1.9l-1.6-1.2L42,49.1l0.6-1.9L41,46h2l0.6-1.9L44.2,46z" />
                                                <path
                                                    id="Fill-77"
                                                    class="st2"
                                                    d="M45.9,52.6h2l-1.6,1.2l0.6,1.9l-1.6-1.2l-1.6,1.2l0.6-1.9l-1.6-1.2h2l0.6-1.9L45.9,52.6z" />
                                                <path
                                                    id="Fill-78"
                                                    class="st2"
                                                    d="M50.6,57.3h2L51,58.5l0.6,1.9L50,59.2l-1.6,1.2l0.6-1.9l-1.6-1.2h2l0.6-1.9L50.6,57.3z" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g class="st3">
                            <path class="st4"
                                d="M143.4,33.1c0-0.3,0.1-0.4,0.4-0.4h7.4c0.3,0,0.4,0.1,0.4,0.4v1.2c0,0.2-0.1,0.4-0.4,0.4h-5.5v3.5h4.9    c0.3,0,0.4,0.1,0.4,0.4v1.2c0,0.2-0.1,0.4-0.4,0.4h-4.9v4h5.6c0.2,0,0.4,0.1,0.4,0.4v1.2c0,0.2-0.1,0.4-0.4,0.4h-7.5    c-0.3,0-0.4-0.1-0.4-0.4V33.1z" />
                            <path class="st4"
                                d="M161.8,46.1h-1.4c-0.1,0-0.2,0-0.3-0.1c-0.1-0.1-0.1-0.2-0.1-0.3V45l0,0c-0.2,0.1-0.4,0.3-0.7,0.4    s-0.5,0.3-0.8,0.4s-0.6,0.2-0.9,0.3s-0.6,0.1-0.9,0.1c-0.7,0-1.2-0.1-1.6-0.3c-0.4-0.2-0.7-0.4-0.9-0.8c-0.2-0.3-0.3-0.7-0.4-1.2    c-0.1-0.5-0.1-0.9-0.1-1.5v-5.9c0-0.3,0.1-0.4,0.4-0.4h1.5c0.2,0,0.4,0.1,0.4,0.4v5.6c0,0.3,0,0.6,0.1,0.8c0,0.2,0.1,0.4,0.2,0.6    c0.1,0.2,0.3,0.3,0.4,0.4s0.4,0.1,0.7,0.1c0.2,0,0.4,0,0.7-0.1c0.3-0.1,0.5-0.2,0.8-0.3c0.3-0.1,0.5-0.2,0.7-0.3s0.4-0.2,0.5-0.3    v-6.7c0-0.1,0-0.2,0.1-0.3s0.2-0.1,0.3-0.1h1.4c0.3,0,0.4,0.1,0.4,0.4v9.1C162.2,45.9,162.1,46.1,161.8,46.1z" />
                            <path class="st4"
                                d="M166.9,45.7c0,0.3-0.1,0.4-0.4,0.4h-1.5c-0.3,0-0.4-0.1-0.4-0.4v-9.1c0-0.3,0.1-0.4,0.4-0.4h1.4    c0.3,0,0.4,0.1,0.4,0.4v0.9l0,0c0.1-0.1,0.3-0.3,0.6-0.4c0.2-0.2,0.5-0.3,0.8-0.4s0.6-0.2,0.8-0.4c0.3-0.1,0.5-0.2,0.8-0.2    c0.1,0,0.2,0,0.3,0c0.1,0,0.1,0.1,0.2,0.3l0.1,1.3c0,0.1,0,0.3,0,0.3c0,0.1-0.1,0.1-0.4,0.2c-0.3,0.1-0.6,0.1-0.9,0.2    s-0.6,0.2-0.9,0.2c-0.3,0.1-0.6,0.2-0.8,0.3c-0.3,0.1-0.5,0.2-0.6,0.2V45.7z" />
                            <path class="st4"
                                d="M180.2,41c0,0.6,0,1.2-0.1,1.8s-0.3,1.2-0.6,1.7c-0.3,0.5-0.7,0.9-1.3,1.3c-0.6,0.3-1.4,0.5-2.4,0.5    c-1,0-1.8-0.2-2.4-0.5c-0.6-0.3-1-0.7-1.3-1.3c-0.3-0.5-0.5-1.1-0.5-1.7c-0.1-0.6-0.1-1.2-0.1-1.8c0-0.5,0-1,0.1-1.6    c0.1-0.6,0.3-1.1,0.6-1.6s0.7-0.9,1.3-1.3c0.6-0.3,1.3-0.5,2.3-0.5c1,0,1.8,0.1,2.3,0.4c0.6,0.3,1,0.7,1.3,1.2    c0.3,0.5,0.5,1,0.6,1.6C180.1,39.8,180.2,40.4,180.2,41z M177.9,41.1c0-0.5,0-1-0.1-1.4c-0.1-0.4-0.2-0.7-0.3-1    c-0.2-0.3-0.4-0.5-0.7-0.6c-0.3-0.1-0.6-0.2-1.1-0.2c-0.4,0-0.8,0.1-1,0.2s-0.5,0.3-0.6,0.6c-0.2,0.3-0.3,0.6-0.3,1    c-0.1,0.4-0.1,0.9-0.1,1.4c0,0.5,0,1,0.1,1.4c0.1,0.4,0.2,0.7,0.3,1s0.4,0.5,0.6,0.6s0.6,0.2,1,0.2c0.5,0,0.8-0.1,1.1-0.2    c0.3-0.1,0.5-0.3,0.7-0.6c0.2-0.3,0.3-0.6,0.3-1C177.9,42.1,177.9,41.7,177.9,41.1z" />
                            <path class="st4"
                                d="M190.8,41.1c0,0.8-0.1,1.5-0.2,2.2c-0.1,0.6-0.3,1.2-0.6,1.6c-0.3,0.4-0.7,0.8-1.2,1c-0.5,0.2-1.2,0.3-2,0.3    c-0.3,0-0.7,0-1.2-0.1c-0.4-0.1-0.9-0.2-1.4-0.3l0,0v3.5c0,0.1,0,0.2-0.1,0.3s-0.2,0.1-0.3,0.1h-1.4c-0.2,0-0.3,0-0.3-0.1    c0-0.1-0.1-0.2-0.1-0.3V36.6c0-0.3,0.1-0.4,0.4-0.4h1.4c0.1,0,0.2,0,0.3,0.1s0.1,0.2,0.1,0.3v0.6l0.1,0c0.2-0.1,0.4-0.2,0.6-0.4    c0.2-0.1,0.5-0.3,0.8-0.4c0.3-0.1,0.6-0.2,0.9-0.3c0.3-0.1,0.6-0.1,0.9-0.1c0.7,0,1.2,0.1,1.6,0.4c0.4,0.2,0.8,0.6,1,1    c0.2,0.4,0.4,1,0.5,1.6C190.8,39.6,190.8,40.3,190.8,41.1z M188.5,41.1c0-0.6,0-1.2-0.1-1.5s-0.2-0.7-0.3-0.9    c-0.1-0.2-0.3-0.4-0.5-0.4c-0.2-0.1-0.4-0.1-0.7-0.1c-0.2,0-0.4,0-0.7,0.1c-0.3,0.1-0.5,0.1-0.8,0.2c-0.2,0.1-0.5,0.2-0.7,0.3    c-0.2,0.1-0.4,0.2-0.6,0.3v5c0.5,0.1,0.9,0.2,1.2,0.3s0.7,0.1,1.1,0.1c0.4,0,0.7-0.1,0.9-0.2c0.2-0.1,0.4-0.3,0.6-0.5    c0.2-0.3,0.3-0.6,0.3-1C188.5,42.2,188.5,41.7,188.5,41.1z" />
                            <path class="st4"
                                d="M194.7,41.7c0,0.5,0.1,0.9,0.2,1.3c0.1,0.3,0.3,0.6,0.5,0.8c0.2,0.2,0.4,0.3,0.7,0.4c0.3,0.1,0.6,0.1,1.1,0.1    c0.4,0,0.8,0,1.3-0.1c0.5-0.1,0.9-0.1,1.3-0.1c0.2,0,0.3,0,0.4,0c0.1,0,0.1,0.1,0.2,0.3l0.1,0.7c0,0.1,0,0.3,0,0.4    c0,0.1-0.1,0.2-0.3,0.3c-0.2,0.1-0.4,0.2-0.7,0.2s-0.5,0.1-0.8,0.2s-0.6,0.1-0.9,0.1c-0.3,0-0.6,0-0.8,0c-1,0-1.7-0.1-2.3-0.4    c-0.6-0.3-1-0.7-1.3-1.1c-0.3-0.5-0.5-1-0.6-1.6c-0.1-0.6-0.2-1.2-0.2-1.9c0-0.5,0-1,0.1-1.6c0.1-0.6,0.3-1.2,0.6-1.7    c0.3-0.5,0.7-1,1.3-1.3c0.6-0.4,1.3-0.5,2.3-0.5c0.9,0,1.6,0.1,2.2,0.4c0.6,0.3,1,0.6,1.3,1c0.3,0.4,0.5,0.9,0.6,1.4    s0.2,1.1,0.2,1.6c0,0.4,0,0.7-0.2,0.9s-0.4,0.3-0.8,0.3H194.7z M196.7,37.8c-0.4,0-0.7,0.1-0.9,0.2c-0.2,0.1-0.4,0.3-0.6,0.5    c-0.2,0.2-0.3,0.5-0.3,0.8c-0.1,0.3-0.1,0.6-0.1,1h4c0-0.3,0-0.6-0.1-0.9s-0.2-0.5-0.3-0.8s-0.3-0.4-0.6-0.5    C197.4,37.9,197.1,37.8,196.7,37.8z" />
                            <path class="st4"
                                d="M209,44.9c-0.5,0.4-1.1,0.7-1.7,0.9c-0.6,0.2-1.3,0.4-2,0.4c-0.5,0-1-0.1-1.3-0.2c-0.4-0.1-0.6-0.3-0.8-0.6    c-0.2-0.2-0.4-0.5-0.4-0.9c-0.1-0.3-0.1-0.7-0.1-1.2c0-1.2,0.3-2,0.9-2.6c0.6-0.5,1.6-0.8,2.8-0.8h2.6v-0.5c0-0.3,0-0.5-0.1-0.8    c-0.1-0.2-0.2-0.4-0.3-0.5c-0.2-0.1-0.4-0.2-0.6-0.3c-0.3-0.1-0.6-0.1-1-0.1c-0.2,0-0.4,0-0.6,0c-0.2,0-0.5,0-0.7,0    c-0.2,0-0.5,0-0.7,0.1c-0.2,0-0.5,0-0.7,0.1c-0.2,0-0.3,0-0.4,0c-0.1,0-0.1-0.1-0.2-0.3l-0.2-0.7c0-0.1,0-0.2,0-0.3    c0.1-0.1,0.2-0.2,0.4-0.3c0.2-0.1,0.5-0.1,0.8-0.2c0.3-0.1,0.6-0.1,0.9-0.1s0.6-0.1,0.9-0.1s0.6,0,0.8,0c0.9,0,1.6,0.1,2.1,0.3    c0.5,0.2,0.9,0.4,1.2,0.7s0.4,0.7,0.5,1.2c0.1,0.5,0.1,1,0.1,1.5v3.9c0,0.2,0,0.4,0,0.5c0,0.1,0.1,0.2,0.1,0.3s0.1,0.1,0.2,0.1    c0.1,0,0.2,0,0.4,0.1c0.1,0,0.2,0,0.3,0.1c0.1,0,0.1,0.1,0.1,0.2v0.8c0,0.2-0.2,0.4-0.5,0.4c-0.2,0-0.3,0-0.5,0.1    c-0.2,0-0.3,0-0.5,0c-0.5,0-0.8-0.1-1.1-0.3C209.3,45.7,209.1,45.4,209,44.9L209,44.9z M208.9,41.6h-2.4c-0.5,0-0.9,0.1-1.2,0.4    c-0.3,0.2-0.4,0.7-0.4,1.3c0,0.4,0.1,0.7,0.3,0.9s0.5,0.3,1,0.3c0.2,0,0.4,0,0.7-0.1c0.3-0.1,0.5-0.1,0.8-0.2    c0.3-0.1,0.5-0.2,0.7-0.3c0.2-0.1,0.5-0.2,0.6-0.3V41.6z" />
                            <path class="st4"
                                d="M222.1,46c-0.1,0.1-0.2,0.1-0.3,0.1h-1.5c-0.3,0-0.4-0.1-0.4-0.4l0-5.6c0-0.6-0.1-1.1-0.3-1.4    c-0.2-0.4-0.6-0.5-1.2-0.5c-0.2,0-0.4,0-0.7,0.1c-0.3,0.1-0.5,0.2-0.8,0.3s-0.5,0.2-0.7,0.3c-0.2,0.1-0.4,0.2-0.5,0.3v6.7    c0,0.3-0.1,0.4-0.4,0.4h-1.4c-0.3,0-0.4-0.1-0.4-0.4v-9.1c0-0.3,0.1-0.4,0.4-0.4h1.4c0.3,0,0.4,0.1,0.4,0.4v0.6c0,0,0,0,0,0    s0,0,0,0c0.2-0.1,0.4-0.3,0.7-0.4s0.5-0.3,0.8-0.4c0.3-0.1,0.6-0.2,0.9-0.3s0.6-0.1,0.9-0.1c0.7,0,1.2,0.1,1.6,0.3    c0.4,0.2,0.7,0.5,0.9,0.8c0.2,0.3,0.3,0.8,0.4,1.2c0.1,0.5,0.1,0.9,0.1,1.5v5.8C222.1,45.8,222.1,45.9,222.1,46z" />
                        </g>
                        <g class="st3">
                            <path class="st4"
                                d="M143.2,59.8c0-0.9,0.1-1.7,0.2-2.5s0.4-1.6,0.8-2.2c0.4-0.6,0.9-1.2,1.6-1.6s1.6-0.6,2.8-0.6    c0.2,0,0.5,0,0.8,0c0.3,0,0.6,0.1,1,0.1c0.3,0,0.7,0.1,1,0.2s0.6,0.2,0.9,0.3c0.2,0.1,0.3,0.1,0.3,0.2s0.1,0.2,0.1,0.4l-0.2,0.8    c0,0.1-0.1,0.2-0.1,0.3c-0.1,0.1-0.2,0.1-0.4,0c-0.5-0.1-1-0.1-1.6-0.2c-0.6-0.1-1.1-0.1-1.6-0.1c-0.7,0-1.2,0.1-1.6,0.4    c-0.4,0.3-0.7,0.6-1,1c-0.2,0.4-0.4,1-0.4,1.5s-0.1,1.2-0.1,1.9s0,1.3,0.1,1.8c0.1,0.6,0.2,1.1,0.5,1.5c0.2,0.4,0.5,0.8,1,1    c0.4,0.2,0.9,0.4,1.6,0.4c0.6,0,1.1,0,1.6-0.1c0.5-0.1,1-0.1,1.6-0.2c0.2,0,0.3,0,0.4,0c0.1,0.1,0.1,0.1,0.2,0.3l0.2,0.8    c0.1,0.3,0,0.5-0.3,0.6c-0.2,0.1-0.5,0.2-0.9,0.3c-0.3,0.1-0.7,0.1-1,0.2c-0.3,0.1-0.7,0.1-1,0.1c-0.3,0-0.6,0-0.9,0    c-1.1,0-2-0.2-2.7-0.6c-0.7-0.4-1.3-0.9-1.6-1.5c-0.4-0.6-0.7-1.3-0.8-2.1C143.3,61.5,143.2,60.7,143.2,59.8z" />
                            <path class="st4"
                                d="M162.9,61.3c0,0.6,0,1.2-0.1,1.8c-0.1,0.6-0.3,1.2-0.6,1.7c-0.3,0.5-0.7,0.9-1.3,1.3    c-0.6,0.3-1.4,0.5-2.4,0.5c-1,0-1.8-0.2-2.4-0.5s-1-0.7-1.3-1.3c-0.3-0.5-0.5-1.1-0.5-1.7c-0.1-0.6-0.1-1.2-0.1-1.8    c0-0.5,0-1,0.1-1.6s0.3-1.1,0.6-1.6c0.3-0.5,0.7-0.9,1.3-1.3c0.6-0.3,1.3-0.5,2.3-0.5c1,0,1.8,0.1,2.3,0.4c0.6,0.3,1,0.7,1.3,1.2    c0.3,0.5,0.5,1,0.6,1.6C162.8,60.1,162.9,60.7,162.9,61.3z M160.6,61.4c0-0.5,0-1-0.1-1.4s-0.2-0.7-0.3-1    c-0.2-0.3-0.4-0.5-0.7-0.6c-0.3-0.1-0.6-0.2-1.1-0.2c-0.4,0-0.8,0.1-1,0.2s-0.5,0.3-0.6,0.6c-0.2,0.3-0.3,0.6-0.3,1    c-0.1,0.4-0.1,0.9-0.1,1.4c0,0.5,0,1,0.1,1.4c0.1,0.4,0.2,0.7,0.3,1c0.1,0.3,0.4,0.5,0.6,0.6s0.6,0.2,1,0.2c0.5,0,0.8-0.1,1.1-0.2    c0.3-0.1,0.5-0.3,0.7-0.6c0.2-0.3,0.3-0.6,0.3-1S160.6,62,160.6,61.4z" />
                            <path class="st4"
                                d="M179.2,66.3c0,0.1-0.1,0.1-0.3,0.1h-1.4c-0.3,0-0.4-0.1-0.4-0.4v-5.7c0-0.7-0.1-1.3-0.3-1.5    c-0.2-0.3-0.6-0.4-1.1-0.4c-0.2,0-0.4,0-0.6,0.1c-0.2,0.1-0.5,0.1-0.7,0.2c-0.2,0.1-0.5,0.2-0.7,0.3c-0.2,0.1-0.4,0.2-0.6,0.3    c0,0.1,0,0.2,0,0.4s0,0.4,0,0.6V66c0,0.1,0,0.2-0.1,0.3c-0.1,0.1-0.2,0.1-0.3,0.1h-1.5c-0.2,0-0.3-0.1-0.3-0.4v-5.8    c0-0.6-0.1-1.1-0.3-1.4c-0.2-0.3-0.5-0.4-1-0.4c-0.2,0-0.4,0-0.6,0.1s-0.4,0.1-0.7,0.2c-0.2,0.1-0.5,0.2-0.7,0.3s-0.4,0.2-0.6,0.3    V66c0,0.3-0.1,0.4-0.4,0.4h-1.4c-0.2,0-0.4-0.1-0.4-0.4v-9.1c0-0.3,0.1-0.4,0.4-0.4h1.4c0.3,0,0.4,0.1,0.4,0.4v0.6l0,0    c0.2-0.1,0.4-0.3,0.6-0.4s0.5-0.3,0.7-0.4s0.5-0.2,0.8-0.3c0.3-0.1,0.5-0.1,0.8-0.1c0.6,0,1.1,0.1,1.6,0.3s0.9,0.6,1.2,1.1    c0.5-0.4,1.1-0.7,1.7-1c0.6-0.3,1.2-0.4,1.9-0.4c0.7,0,1.2,0.1,1.6,0.3c0.4,0.2,0.7,0.5,0.9,0.8c0.2,0.3,0.3,0.7,0.4,1.2    c0.1,0.5,0.1,0.9,0.1,1.4V66C179.2,66.1,179.2,66.2,179.2,66.3z" />
                            <path class="st4"
                                d="M195.7,66.3c0,0.1-0.1,0.1-0.3,0.1H194c-0.3,0-0.4-0.1-0.4-0.4v-5.7c0-0.7-0.1-1.3-0.3-1.5    c-0.2-0.3-0.6-0.4-1.1-0.4c-0.2,0-0.4,0-0.6,0.1c-0.2,0.1-0.5,0.1-0.7,0.2c-0.2,0.1-0.5,0.2-0.7,0.3c-0.2,0.1-0.4,0.2-0.6,0.3    c0,0.1,0,0.2,0,0.4s0,0.4,0,0.6V66c0,0.1,0,0.2-0.1,0.3c-0.1,0.1-0.2,0.1-0.3,0.1h-1.5c-0.2,0-0.3-0.1-0.3-0.4v-5.8    c0-0.6-0.1-1.1-0.3-1.4c-0.2-0.3-0.5-0.4-1-0.4c-0.2,0-0.4,0-0.6,0.1s-0.4,0.1-0.7,0.2s-0.5,0.2-0.7,0.3s-0.4,0.2-0.6,0.3V66    c0,0.3-0.1,0.4-0.4,0.4h-1.4c-0.2,0-0.4-0.1-0.4-0.4v-9.1c0-0.3,0.1-0.4,0.4-0.4h1.4c0.3,0,0.4,0.1,0.4,0.4v0.6l0,0    c0.2-0.1,0.4-0.3,0.6-0.4s0.5-0.3,0.7-0.4c0.3-0.1,0.5-0.2,0.8-0.3c0.3-0.1,0.5-0.1,0.8-0.1c0.6,0,1.1,0.1,1.6,0.3    c0.5,0.2,0.9,0.6,1.2,1.1c0.5-0.4,1.1-0.7,1.7-1c0.6-0.3,1.2-0.4,1.9-0.4c0.7,0,1.2,0.1,1.6,0.3c0.4,0.2,0.7,0.5,0.9,0.8    c0.2,0.3,0.3,0.7,0.4,1.2c0.1,0.5,0.1,0.9,0.1,1.4V66C195.8,66.1,195.7,66.2,195.7,66.3z" />
                            <path class="st4"
                                d="M200.5,53.9c0,0.2,0,0.3,0,0.5c0,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.2,0.2-0.4,0.3c-0.2,0.1-0.4,0.1-0.6,0.1    c-0.3,0-0.5,0-0.6-0.1c-0.2-0.1-0.3-0.2-0.4-0.3c-0.1-0.1-0.1-0.2-0.2-0.4c0-0.1,0-0.3,0-0.4c0-0.3,0.1-0.6,0.2-0.8    c0.2-0.2,0.5-0.3,1-0.3c0.5,0,0.8,0.1,1,0.3C200.4,53.3,200.5,53.6,200.5,53.9z M200.4,66c0,0.1,0,0.2-0.1,0.3    c0,0.1-0.1,0.1-0.3,0.1h-1.4c-0.3,0-0.4-0.1-0.4-0.4v-9.1c0-0.3,0.1-0.4,0.4-0.4h1.4c0.1,0,0.2,0,0.3,0.1c0,0.1,0.1,0.2,0.1,0.3    V66z" />
                            <path class="st4"
                                d="M210.2,63.4c0,0.6-0.1,1.1-0.3,1.5c-0.2,0.4-0.5,0.7-0.9,1c-0.4,0.2-0.8,0.4-1.3,0.5s-1,0.2-1.5,0.2    c-0.5,0-1.1,0-1.6-0.1c-0.6-0.1-1.1-0.2-1.5-0.3c-0.2-0.1-0.3-0.2-0.4-0.3c-0.1-0.1-0.1-0.2,0-0.4l0.1-0.7c0-0.2,0.1-0.3,0.2-0.3    c0.1,0,0.2,0,0.4,0c0.2,0,0.5,0.1,0.7,0.1c0.3,0,0.5,0,0.8,0.1c0.3,0,0.5,0,0.7,0.1c0.2,0,0.4,0,0.6,0c0.6,0,1.1-0.1,1.4-0.3    c0.3-0.2,0.4-0.5,0.4-0.9c0-0.2,0-0.4-0.1-0.6s-0.1-0.3-0.3-0.4s-0.3-0.2-0.5-0.2c-0.2-0.1-0.5-0.1-0.8-0.2    c-0.5-0.1-1-0.2-1.4-0.3c-0.4-0.1-0.8-0.3-1.2-0.5c-0.3-0.2-0.6-0.5-0.8-0.8c-0.2-0.3-0.3-0.8-0.3-1.3c0-1,0.3-1.7,1-2.3    c0.7-0.5,1.6-0.8,2.7-0.8c0.2,0,0.4,0,0.7,0s0.5,0,0.8,0.1c0.3,0,0.5,0.1,0.8,0.1s0.5,0.1,0.7,0.2c0.3,0.1,0.5,0.3,0.4,0.6    l-0.2,0.7c0,0.1-0.1,0.2-0.2,0.3c-0.1,0-0.2,0-0.4,0c-0.4-0.1-0.9-0.1-1.4-0.2c-0.5,0-0.9-0.1-1.3-0.1c-0.6,0-1.1,0.1-1.3,0.3    c-0.2,0.2-0.3,0.5-0.3,0.9c0,0.4,0.1,0.6,0.4,0.8c0.3,0.1,0.7,0.2,1.3,0.3c0.5,0.1,0.9,0.2,1.4,0.3s0.8,0.3,1.2,0.5    c0.3,0.2,0.6,0.5,0.8,0.9C210.1,62.3,210.2,62.8,210.2,63.4z" />
                            <path class="st4"
                                d="M219.4,63.4c0,0.6-0.1,1.1-0.3,1.5c-0.2,0.4-0.5,0.7-0.9,1c-0.4,0.2-0.8,0.4-1.3,0.5s-1,0.2-1.5,0.2    c-0.5,0-1.1,0-1.6-0.1c-0.6-0.1-1.1-0.2-1.5-0.3c-0.2-0.1-0.3-0.2-0.4-0.3c-0.1-0.1-0.1-0.2,0-0.4l0.1-0.7c0-0.2,0.1-0.3,0.2-0.3    c0.1,0,0.2,0,0.4,0c0.2,0,0.5,0.1,0.7,0.1c0.3,0,0.5,0,0.8,0.1c0.3,0,0.5,0,0.7,0.1c0.2,0,0.4,0,0.6,0c0.6,0,1.1-0.1,1.4-0.3    c0.3-0.2,0.4-0.5,0.4-0.9c0-0.2,0-0.4-0.1-0.6s-0.1-0.3-0.3-0.4s-0.3-0.2-0.5-0.2c-0.2-0.1-0.5-0.1-0.8-0.2    c-0.5-0.1-1-0.2-1.4-0.3c-0.4-0.1-0.8-0.3-1.2-0.5c-0.3-0.2-0.6-0.5-0.8-0.8c-0.2-0.3-0.3-0.8-0.3-1.3c0-1,0.3-1.7,1-2.3    c0.7-0.5,1.6-0.8,2.7-0.8c0.2,0,0.4,0,0.7,0s0.5,0,0.8,0.1c0.3,0,0.5,0.1,0.8,0.1s0.5,0.1,0.7,0.2c0.3,0.1,0.5,0.3,0.4,0.6    l-0.2,0.7c0,0.1-0.1,0.2-0.2,0.3c-0.1,0-0.2,0-0.4,0c-0.4-0.1-0.9-0.1-1.4-0.2c-0.5,0-0.9-0.1-1.3-0.1c-0.6,0-1.1,0.1-1.3,0.3    c-0.2,0.2-0.3,0.5-0.3,0.9c0,0.4,0.1,0.6,0.4,0.8c0.3,0.1,0.7,0.2,1.3,0.3c0.5,0.1,0.9,0.2,1.4,0.3s0.8,0.3,1.2,0.5    c0.3,0.2,0.6,0.5,0.8,0.9C219.3,62.3,219.4,62.8,219.4,63.4z" />
                            <path class="st4"
                                d="M223.9,53.9c0,0.2,0,0.3,0,0.5c0,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.2,0.2-0.4,0.3c-0.2,0.1-0.4,0.1-0.6,0.1    c-0.3,0-0.5,0-0.6-0.1c-0.2-0.1-0.3-0.2-0.4-0.3c-0.1-0.1-0.1-0.2-0.2-0.4c0-0.1,0-0.3,0-0.4c0-0.3,0.1-0.6,0.2-0.8    c0.2-0.2,0.5-0.3,1-0.3c0.5,0,0.8,0.1,1,0.3C223.8,53.3,223.9,53.6,223.9,53.9z M223.8,66c0,0.1,0,0.2-0.1,0.3    c0,0.1-0.1,0.1-0.3,0.1H222c-0.3,0-0.4-0.1-0.4-0.4v-9.1c0-0.3,0.1-0.4,0.4-0.4h1.4c0.1,0,0.2,0,0.3,0.1c0,0.1,0.1,0.2,0.1,0.3V66    z" />
                            <path class="st4"
                                d="M234.8,61.3c0,0.6,0,1.2-0.1,1.8c-0.1,0.6-0.3,1.2-0.6,1.7c-0.3,0.5-0.7,0.9-1.3,1.3    c-0.6,0.3-1.4,0.5-2.4,0.5c-1,0-1.8-0.2-2.4-0.5s-1-0.7-1.3-1.3c-0.3-0.5-0.5-1.1-0.5-1.7c-0.1-0.6-0.1-1.2-0.1-1.8    c0-0.5,0-1,0.1-1.6s0.3-1.1,0.6-1.6c0.3-0.5,0.7-0.9,1.3-1.3c0.6-0.3,1.3-0.5,2.3-0.5c1,0,1.8,0.1,2.3,0.4c0.6,0.3,1,0.7,1.3,1.2    c0.3,0.5,0.5,1,0.6,1.6C234.7,60.1,234.8,60.7,234.8,61.3z M232.5,61.4c0-0.5,0-1-0.1-1.4s-0.2-0.7-0.3-1    c-0.2-0.3-0.4-0.5-0.7-0.6c-0.3-0.1-0.6-0.2-1.1-0.2c-0.4,0-0.8,0.1-1,0.2s-0.5,0.3-0.6,0.6c-0.2,0.3-0.3,0.6-0.3,1    c-0.1,0.4-0.1,0.9-0.1,1.4c0,0.5,0,1,0.1,1.4c0.1,0.4,0.2,0.7,0.3,1c0.1,0.3,0.4,0.5,0.6,0.6s0.6,0.2,1,0.2c0.5,0,0.8-0.1,1.1-0.2    c0.3-0.1,0.5-0.3,0.7-0.6c0.2-0.3,0.3-0.6,0.3-1S232.5,62,232.5,61.4z" />
                            <path class="st4"
                                d="M245.2,66.3c-0.1,0.1-0.2,0.1-0.3,0.1h-1.5c-0.3,0-0.4-0.1-0.4-0.4l0-5.6c0-0.6-0.1-1.1-0.3-1.4    c-0.2-0.4-0.6-0.5-1.2-0.5c-0.2,0-0.4,0-0.7,0.1c-0.3,0.1-0.5,0.2-0.8,0.3s-0.5,0.2-0.7,0.3c-0.2,0.1-0.4,0.2-0.5,0.3V66    c0,0.3-0.1,0.4-0.4,0.4h-1.4c-0.3,0-0.4-0.1-0.4-0.4v-9.1c0-0.3,0.1-0.4,0.4-0.4h1.4c0.3,0,0.4,0.1,0.4,0.4v0.6c0,0,0,0,0,0    s0,0,0,0c0.2-0.1,0.4-0.3,0.7-0.4s0.5-0.3,0.8-0.4c0.3-0.1,0.6-0.2,0.9-0.3s0.6-0.1,0.9-0.1c0.7,0,1.2,0.1,1.6,0.3    c0.4,0.2,0.7,0.5,0.9,0.8c0.2,0.3,0.3,0.8,0.4,1.2c0.1,0.5,0.1,0.9,0.1,1.5V66C245.3,66.1,245.2,66.2,245.2,66.3z" />
                        </g>
                        <rect x="254.2" y="28" class="st1"
                            width="3.3" height="38.7" />
                    </g>
                </svg> -->
            </div>
            <!-- <div class="mt-4">
                <h1 class="logo_title">SeTA - Semantic Text
                    Analyzer</h1>
            </div> -->

        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse"
                id="navbarSupportedContent">
                <ul id="navbar" class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="javascript:void(0);"
                            [routerLink]="['home']"
                            routerLinkActive="active"
                            class="nav-link active">
                            <fa-icon [icon]="faHome"></fa-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- *ngIf="user !== null" -->
                        <a class="nav-link" *ngIf="user !== null"
                            [routerLink]="['corpus']"
                            routerLinkActive="active"
                            href="javascript:void(0);">Search</a>
                    </li>
                    <li class="nav-item">
                        <!-- *ngIf="user !== null" -->
                        <a href="javascript:void(0);"
                            *ngIf="user !== null"
                            [routerLink]="['findall']"
                            routerLinkActive="active"
                            class="nav-link"
                            data-ecl-menu-link="true">Concepts</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                            routerLinkActive="active"
                            href="javascript:void(0);"
                            [routerLink]="['about']"
                            data-ecl-menu-link="true">Contacts</a>
                    </li>

                </ul>

            </div>
            <div class="d-flex">
                <app-login
                    (isRsaKeyBeingGenerated)="onIsLoading($event)">
                </app-login>

                <!-- <a class=" nav-link dropdown-toggle"
                    href="#" id="navbarDropdownMenuLink"
                    role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                    </a>
                    <div class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"
                            href="#">Action</a>
                        <a class="dropdown-item" href="#">Another
                            action</a>
                        <a class="dropdown-item"
                            href="#">Something else here</a>
                    </div> -->

            </div>
        </div>
    </nav>
</header>