<!DOCTYPE html>
<head>
    <script>alert("sino")</script>
</head>
<title>Some layout title</title>

You are logged in, <br/>
username is: {{ username }} <br/>
unit is: {{ attributes["departmentNumber"] }} <br/>
email is: {{ attributes["email"] }} <br/>
first name: {{ attributes["firstName"] }} <br/>
last name: {{ attributes["lastName"] }} <br/>
employee number: {{ attributes["employeeNumber"] }}
<a href="/logout">Logout</a>
</html>
