<!-- <tree-root id="tree2" [focused]="true" [nodes]="nodeItems" [options]="options">
</tree-root> -->

<tree-root #tree [nodes]="nodeItems" [options]="options">
  <!-- <ng-template #treeNodeWrapperTemplate let-node let-index="index">
    <span [class]="node.data.className + 'Index'">{{ index }}</span>      
     <input type="checkbox"><span>&rarr;</span>
     <span [class]="node.data.className" [class.title]="true">{{ node.data.title }}</span>
  </ng-template> -->
</tree-root>
