// Documents Colours
$celex: #a3a948;
$bookshop: #edb92e;
$opendataportal: #f85931;
$cordis: #ce1836;
$pubsy: #009989;

// Personal palette
$yellow-color: #fccc0f;
$grey-color: #8b9ca4;
$teal-color: #447c9b;
$aquamarine-color: #a4dbe7;

// Typography
$ec-font-family: Arial, sans-serif;
$ec-regular-font-weight: 400;
$ec-bold-font-weight: 600;
$ec-bolder-font-weight: 800;

// Primary colours
$ec-blue: #004494;
$ec-yellow: #ffd617;
$ec-grey: #404040;

// Variations
$ec-blue-130: #002f67;
$ec-blue-120: #003776;
$ec-blue-110: #003d84;
$ec-blue-100: #004494;
$ec-blue-75: #4073af;
$ec-blue-50: #7fa1c9;
$ec-blue-25: #bfd0e4;
$ec-blue-5: #f2f5f9;

$ec-yellow-120: #f8ae21;
$ec-yellow-110: #fbc11d;
$ec-yellow-100: #ffd617;
$ec-yellow-75: #ffde39;
$ec-yellow-50: #ffe879;
$ec-yellow-25: #fff4bb;

$ec-grey-100: #404040;
$ec-grey-75: #707070;
$ec-grey-50: #9f9f9f;
$ec-grey-25: #cfcfcf;
$ec-grey-20: #d9d9d9;
$ec-grey-15: #e3e3e3;
$ec-grey-10: #ebebeb;
$ec-grey-5: #f5f5f5;
$ec-grey-test: #f4f7fa;

// Notification colours
$ec-blue-n: #006fb4;
$ec-orange: #f29527;
$ec-green: #467a39;
$ec-red: #da2131;
// Background colour
$ec-white: #ffffff;

.celex {
  color: #000000;
  // background-color: $celex;
  text-decoration: none;
  border-bottom: 3px solid $celex;
  // text-decoration-color: $celex;
  // border-color: $celex;
}
.bookshop {
  color: #000000;
  text-decoration: none;
  border-bottom: 3px solid $bookshop;
  // text-decoration-color: $bookshop;
  // background-color: $bookshop;
  // border-color: $bookshop;
}
.opendataportal {
  color: #000000;
  text-decoration: none;
  border-bottom: 3px solid $opendataportal;
  // text-decoration-color: $opendataportal;
  // background-color: $opendataportal;
  //   border-color: $opendataportal;
}
.cordis {
  color: #000000;
  text-decoration: none;
  border-bottom: 3px solid $cordis;
  // text-decoration-color: $cordis;
  // background-color: $cordis;
  // border-color: $cordis;
}
.pubsy {
  color: #000000;
  text-decoration: none;
  border-bottom: 3px solid $pubsy;
  // text-decoration-color: $pubsy;
  // background-color: $pubsy;
  // border-color: $pubsy;
}
