<div
  [ngClass]="{'flex-container': true, 'padding-t-null': corpusDocuments.length > 0 }">
  <div class="col-md-12">
    <div id="overlay"
      class="d-flex justify-content-center align-items-center"
      *ngIf="loading">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">
          <!-- [checked]="isExpanded" (change)="toggleAllRows()" -->
          <!-- <div>
            <div class="custom-control custom-switch">
              <input [checked]="isExpanded1"
                (change)="toggleMode(1)" type="checkbox"
                class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" container="body"
                for="customSwitch1" placement="top" ngbTooltip="Key document check/uncheck 
                requires click on lens button to be applied,
                previously executed query gets restored if any viable
                parameter is absent (key document and keywords
                missing)">Lazy mode
              </label>
            </div>
          </div> -->

          <!-- <div>
            <div class="custom-control custom-switch">
              <input [checked]="isExpanded2"
                (change)="toggleMode(2)" type="checkbox"
                class="custom-control-input" id="customSwitch2">
              <label class="custom-control-label"
                container="body" for="customSwitch2"
                placement="right" ngbTooltip="Deletetion or disabling of key document 
                when querybox void does not restores previously 
                executed query  Expect: query box stays void, key 
                document disappeares or gets unchecked, list of 
                documents is cleared">
                Reactive unassuming
              </label>
            </div>
          </div>

          <div>
            <div class="custom-control custom-switch">
              <input [checked]="isExpanded3"
                (change)="toggleMode(3)" type="checkbox"
                class="custom-control-input" id="customSwitch3">
              <label class="custom-control-label"
                for="customSwitch3" placement="bottom"
                container="body"
                ngbTooltip="Deletetion or disabling of key document 
                when querybox void restores previously executed query  
                Expect: query box gets restored, key document disappeares 
                or gets unchecked, list of documents is cleared.">
                Reactive assuming
              </label>
            </div>
          </div>

          <div>
            <div class="custom-control custom-switch">
              <input [checked]="isExpanded4"
                (change)="toggleMode(4)" type="checkbox"
                class="custom-control-input" id="customSwitch4">
              <label class="custom-control-label"
                for="customSwitch4" placement="bottom"
                container="body"
                ngbTooltip="Deletetion or disabling of key document 
                when querybox void restores previously executed query  
                Expect: query box gets restored, key document disappeares 
                or gets unchecked, list of documents is cleared.">
                Reactive hyper-assuming
              </label>
            </div>
          </div> -->

          <app-search-corpus-chips
            (isLoading)="onIsLoading($event)">
          </app-search-corpus-chips>

          <!-- <app-query-store-tree></app-query-store-tree> -->
        </h5>
        <app-tick-document [semanticDocument]="semanticDoc">
        </app-tick-document>
        <app-corpus-list
          (semanticDocument)="semanticDocument($event)"
          [eurlexMFilters]="eurlexMetadataFilters"
          (isLoading)="onIsLoading($event)"></app-corpus-list>
      </div>
    </div>
  </div>





</div>