@import "../../../variables.scss";
:host {
  .flex-container {
    min-height: calc(((100vh - 165.594px) / 6) * 5);
    padding: calc(((100vh - 165.594px) / 6) * 1) 0 0 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    &.padding-t-null {
      padding: 0;
    }
  }
  

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .card {
    background-color: #f7f7f7;
    border: 0 solid #eee;
    border-radius: 0;
    box-shadow: none;
  }

}
