<div class="homeContainer">

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Contacts</h1>
        <p class="lead text-muted mb-0">You can also contact us via the
        <a (click)="goToLink($event, 'https://webgate.ec.europa.eu/connected/groups/text-mining-and-analysis-competence-centre-tma-cc')" href="#" class="text-muted"> 
                    <u>JRC.I.3 Text Mining and Competence Centre
                      Connected Page</u></a>.
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img
          src="../seta-ui/assets/undraw_mail_box_kd5i.svg"
          alt="" class="img-fluid"></div>
          <!-- src="../seta-ui/assets/undraw_mail_box_kd5i.svg" -->
    </div>
  </div>
</div>

</div>
