@import "../../../ec-styles.scss";
@import "../../../variables.scss";

:host {

  .homeContainer  {
    min-height: calc(((100vh - 165.594px) / 6) * 5);
    padding: calc(((100vh - 165.594px) / 100) * 1) 0 0 0;
    margin: 0;
  }
  .card-img-top {
    width: 100%;
    height: 50vh;
  }
}
