<div class="header-user-info">

  <!-- <div class="log-in-out-link"
    *ngIf="userData && userData.username">
    <fa-icon [icon]="faUserCircle" size="3x">
    </fa-icon>
    <br />
    <span>{{ 'Hello, ' + userData.username }}</span>
  </div> -->
  <div ngbDropdown
    class="log-in-out-link">
    <button id="dropdownProfile"
      class="invert"
      ngbDropdownToggle>
      <fa-icon [icon]="faUser"
        size="2x">
      </fa-icon>
      <!-- <fa-layers [fixedWidth]="true" size="2x">
            <fa-icon [icon]="faSquare"></fa-icon>
            <fa-layers-text content="Yo" style="color: black;" transform="shrink-4"></fa-layers-text>
          </fa-layers> -->
    </button>
    <div ngbDropdownMenu
      aria-labelledby="dropdownBasic1">
      <button *ngIf="userData && userData.username"
        (click)="navigateTo($event, 'myaccount')"
        ngbDropdownItem>{{ 'Hi, ' +
        userData.firstName }}</button>
      <!-- aria-current="page" -->
      <!-- <button (click)="getUserData()" ngbDropdownItem>Get User
        data</button> -->
      <button *ngIf="!userData || !userData.username"
        (click)="goToLink($event, '/seta-ui/login')"
        ngbDropdownItem>Log in</button>
      <button *ngIf="userData && userData.username"
        (click)="logout()"
        ngbDropdownItem>Log out of SETA</button>
      <!-- <button *ngIf="userData && userData.username"
        type="button"
        (click)="open()"
        ngbDropdownItem>Delete
        account&nbsp;<fa-icon [icon]="faUserSlash">
        </fa-icon></button> -->
      <div *ngIf="displayEcasLogoutLink && userData && userData.username">
        <button (click)="goToLink($event, '/seta-ui/logout')"
          ngbDropdownItem>Log out of ECAS</button>
        <button (click)="generateRsaKeys($event)"
          ngbDropdownItem>Generate Rsa Keys DEMO</button>
        <!-- <button (click)="signMessage($event)"
          ngbDropdownItem>Sign message DEMO</button> -->
      </div>
    </div>
  </div>