

<ul class="list-group list-group-flush">
  <!-- Item-->
  <li  *ngFor="let doc of corpusDocuments$ | async"
    class="list-group-item d-flex justify-content-between">
    <div class="left-col d-flex">
      <div class="icon">
        <fa-icon [icon]="faFile"></fa-icon>
      </div>
      <div class="title" placement="top" ngbTooltip="{{doc.title}}" title="{{doc.title}}">
        <strong>{{
					doc.title.length > 48 ? (doc.title | slice: 0:48) + '...' : doc.title
				}}</strong>
      </div>
    </div>
    <div class="right-col text-right">
      <div [ngClass]="{
					badge: true,
					celex: doc.source === 'eurlex',
					'btn-warning': doc.source === 'bookshop',
					opendataportal: doc.source === 'opendataportal',
					cordis: doc.source === 'cordis',
					pubsy: doc.source === 'pubsy'
				}">
        {{ doc.source }}
      </div>
    </div>
  </li>
</ul>