// @import '../../../ec-styles.scss';
@import "../../../variables.scss";

:host {
  .container-footer {
    height: calc(((100vh - 165.594px) /6));
    background-color: $ec-blue;
    
    .card {
      background-color: inherit;
      border: unset;
      border-radius: unset;
      box-shadow: unset;
      margin: 0em;
      padding: 0em;
    }
  }

  li {
    list-style-type: none;
  }

  a {
    color: $ec-white;
  }

}
