<div class="container-footer ">
	<div class="container-fluid">
		<div class="card-deck">
			<div class="card">
				<div class="card-body">
					<h4><a (click)="goToLink($event, 'https://ec.europa.eu/info/index_en')" href="#">European Commission
							website</a></h4>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<ul class="links">
						<li>
							<a (click)="goToLink($event, 'http://emm.newsbrief.eu/NewsBrief/web/notices/cookies.html')"
								href="#">Cookies</a>
						</li>
						<li>
							<a (click)="goToLink($event, 'https://repository.emm4u.eu/gdpr/PrivacyStatement-DPO-4062.html')"
								href="#">Privacy
								policy</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<ul class="links">
						<li>
							<a (click)="goToLink($event, 'http://emm.newsbrief.eu/NewsBrief/web/notices/legal_notice.html')"
								href="#">Legal
								notice</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


</div>