<div class="container-fluid">
  <form [formGroup]="form"
    (ngSubmit)="corpusFormSubject$.next($event)">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex">
          <div class="flex-grow-1">
            <tag-input [formControlName]="'chips'"
              [inputText]="inputText" [editable]="true"
              [identifyBy]="'value'" [displayBy]="'display'"
              [allowDupes]="true" [theme]="'bootstrap'"
              [addOnBlur]="true" [clearOnBlur]="true"
              [addOnPaste]="true" [onlyFromAutocomplete]="false"
              [dragZone]="'zone1'" [onAdding]="transform"
              [pasteSplitPattern]="splitpattern6"
              [separatorKeyCodes]="[32]" [ngClass]="{
                'is-invalid': submitted && chips.invalid,
                missing_parameters: checkIfKeyDocumentApplied()
              }" [errorMessages]="errorMessages"
              [validators]="validators"
              [placeholder]="placeholder"
              [secondaryPlaceholder]="secondaryPlaceholder"
              (onSelect)="onSelect($event)"
              (onAdd)="onAdd($event)"
              (onFocus)="toggleQueryFocusStyle(true)"
              (onBlur)="toggleQueryFocusStyle(false)">
              <tag-input-dropdown [showDropdownIfEmpty]="false"
                [autocompleteObservable]="requestAutocompleteItemsFake">
              </tag-input-dropdown>
            </tag-input>
          </div>
          <div [ngClass]="{
              inbar: true,
              'is-infocus': toggleQueryFocusStyleBlue(),
              'is-infocus-red': toggleQueryFocusStyleRed()
            }">
            <button type="button"
              class="btn btn-outline-secondary searchbar-info pt-3"
              (click)="cleanAllChips()">
              <fa-icon [icon]="faTimes" animation="spin"
                style="font-size: 0.8em"
                [ngbTooltip]="clean_query">
              </fa-icon>
            </button>
          </div>
          <!-- 
          <div ngbDropdown [ngClass]="{
              'd-inline-block': false,
              inbar: true,
              'is-infocus': toggleQueryFocusStyleBlue(),
              'is-infocus-red': toggleQueryFocusStyleRed()
            }">

            <button type="button"
              class="btn btn-outline-secondary searchbar-info pt-3"
              [ngbTooltip]="saveQuery" ngbDropdownToggle>
              <fa-icon [icon]="faSave" size="lg"> </fa-icon>
            </button>

            <div ngbDropdownMenu aria-labelledby="dropdownForm1">
              <form class="px-4 py-3" [formGroup]="saveQueryForm"
                (ngSubmit)="saveQueryFormSubject$.next($event)">
                <div class="form-group">
                  <label for="exampleDropdownFormEmail1">Query
                    name</label>
                  <input type="text"
                    [formControl]="queryNameToSave"
                    class="form-control" id="queryName"
                    placeholder="vediamo se mettendo una string più lunga le cose migliorano" />
                </div>
                <button type="submit"
                  class="btn btn-outline-primary">Save</button>
              </form>
            </div>
          </div>

          <div ngbDropdown [ngClass]="{
              'd-inline-block': false,
              inbar: true,
              'is-infocus': toggleQueryFocusStyleBlue(),
              'is-infocus-red': toggleQueryFocusStyleRed()
            }">
            <button type="button"
              class="btn btn-outline-secondary searchbar-info pt-3"
              [ngbTooltip]="loadQuery" ngbDropdownToggle>
              <fa-icon [icon]="faRedo" size="lg"> </fa-icon>
            </button>

            <div ngbDropdownMenu aria-labelledby="dropdownForm2">
              <form class="px-4 py-3" [formGroup]="loadQueryForm"
                (ngSubmit)="loadQueryFormSubject$.next($event)">
                <div class="form-group">
                  <label for="exampleDropdownFormEmail2">Load
                    query with this name:</label>
                  <input type="text"
                    [formControl]="queryNameToLoad"
                    class="form-control" id="queryNameToLoad"
                    placeholder="Name of the saved chips" />
                </div>
                <button type="submit"
                  class="btn btn-outline-primary">Load</button>
              </form>
            </div>
          </div> -->

          <!-- <div [ngClass]="{
              inbar: true,
              'is-infocus': toggleQueryFocusStyleBlue(),
              'is-infocus-red': toggleQueryFocusStyleRed()
            }">
            <button type="button" (click)="copyQuery()"
              class="btn btn-outline-secondary searchbar-info pt-3"
              [ngbTooltip]="copyContent">
              <fa-icon [icon]="faCopy"> </fa-icon>
            </button>
          </div> -->
          <!-- <div [ngClass]="{
              inbar: true,
              'is-infocus': toggleQueryFocusStyleBlue(),
              'is-infocus-red': toggleQueryFocusStyleRed()
            }"> -->
          <!-- EXCEL -->
          <!-- <button type="button"
              [disabled]="totalElements === 0 || totalElements === null"
              class="btn btn-outline-secondary searchbar-info pt-3"
              (click)="downloadExcel()">
              <fa-icon [icon]="faFileExcel"
                class="excel"
                [ngbTooltip]="excelContent">
              </fa-icon>
            </button>
          </div> -->
          <div [ngClass]="{
              inbar: true,
              'is-infocus': toggleQueryFocusStyleBlue(),
              'is-infocus-red': toggleQueryFocusStyleRed()
            }">
            <!-- ADVANCED SEARCH -->
            <button type="button"
              class="btn btn-outline-secondary searchbar-info pt-3"
              type="button" (click)="openXl()">
              <fa-icon [icon]="faFilter"
                [ngbTooltip]="advancedContent"> </fa-icon>
              <span *ngIf="filterCounter > 0">&#183;{{
                filterCounter }}</span>
            </button>
          </div>
          <!-- ELLIPSIS -->
          <div [ngClass]="{
  inbar: true,
  'is-infocus': toggleQueryFocusStyleBlue(),
  'is-infocus-red': toggleQueryFocusStyleRed()
}">
            <div ngbDropdown #drop0 placement="bottom-right"
              autoClose="outside">
              <button type="button" id="dropdownSearch"
                class="btn btn-outline-secondary searchbar-info pt-3"
                ngbDropdownToggle>
                <!-- (openChange)="toggleDropdown(drop0);" -->
                <fa-icon [icon]="faEllipsisV">
                </fa-icon>
              </button>
              <div ngbDropdownMenu
                aria-labelledby="dropdownSearch">

                <div ngbDropdown #drop1 placement="left-top"
                  autoClose="outside"
                  *ngIf="this.authService.currentUserValue && this.authService.currentUserValue.username">
                  <!-- (openChange)="toggleDropdown(drop1);" -->
                  <button type="button" id="dropdownConfig"
                    (click)="checkDropDown(drop1)"
                    class="dropdown-menitem" ngbDropdownToggle>My
                    queries</button>

                  <div ngbDropdownMenu id="queries"
                    aria-labelledby="dropdownConfig">
                    <!-- <app-circlon-tree [nodeItems]="items"></app-circlon-tree> -->
                    <!-- (updatingQueryTree)="saveQuery($event)" -->

                    <!-- <app-dynamic-tree [nodeItems]="rows"
                      [dropDownClick]="dropDownClick"
                      [events]="dropdownClickEeventSubject.asObservable()"
                      (nodeSelected)="executeQuery($event)">
                    </app-dynamic-tree> -->

                    <app-query-store-tree [files]="rows"
                    (nodeSelected)="executeQuery($event)"
                      ngbDropdownItem>
                    </app-query-store-tree>
                    <!-- (onMenuClicked)="itemClick = true;"(onMenuClicked)="itemClick = true;" -->

                    <!-- <div ngbDropdown>
                      <button type="button"
                        class="dropdown-menitem"
                        [ngbTooltip]="saveQuery"
                        ngbDropdownToggle>Save query
                        <fa-icon [icon]="faSave" size="lg">
                        </fa-icon>
                      </button>

                      <div ngbDropdownMenu
                        aria-labelledby="dropdownForm1">
                        <form class="px-4 py-3"
                          [formGroup]="saveQueryForm"
                          (ngSubmit)="saveQueryFormSubject$.next($event)">
                          <div class="form-group">
                            <label
                              for="exampleDropdownFormEmail1">Query
                              name</label>
                            <input type="text"
                              [formControl]="queryNameToSave"
                              class="form-control" id="queryName"
                              placeholder="Input name here" />
                          </div>
                          <button type="submit"
                            class="btn btn-outline-primary">Save</button>
                        </form>
                      </div>
                    </div>

                    <div #drop2 ngbDropdown
                      class="d-inline-block">
                      <button type="button" id="dropdownForm2"
                        (click)="checkDropDown(drop2)"
                        class="dropdown-menitem"
                        [ngbTooltip]="loadQuery"
                        ngbDropdownToggle>Load
                        query&nbsp;
                        <fa-icon [icon]="faRedo" size="lg">
                        </fa-icon>
                      </button>

                      <div ngbDropdownMenu
                        aria-labelledby="dropdownForm2">
                        <div
                          *ngIf="rows && rows.length > 0; then listOfqueries else noStatesYet">
                        </div>
                        <ng-template #listOfqueries>
                          <li class="d-flex" ngbDropdownItem
                            *ngFor="let row of rows">
                            <button type="button"
                              (click)="executeQueryByName(row.key)"
                              ngbDropdownItem>
                              {{row.key}}
                            </button>
                            <button class="horal"
                              ngbDropdownItem>
                              <fa-icon ngbDropdownItem
                                (click)="deleteQueryByName(row.key)"
                                [icon]="faTrashAlt"></fa-icon>
                            </button>
                          </li>
                        </ng-template>
                        <ng-template #noStatesYet>
                          <li><button ngbDropdownItem disabled
                              type="button">No saved states
                              yet</button></li>
                        </ng-template>
                      </div>
                    </div> -->

                  </div>
                </div>

                <button type="button" (click)="copyQuery()"
                  [ngbTooltip]="copyContent" ngbDropdownItem>Copy
                  query&nbsp;
                  <fa-icon [icon]="faCopy"
                    style="background-color: #fff;"> </fa-icon>
                </button>
                <!-- ----------------- DO NOT REMOVE ----------------- -->

                <!-- BUTTON CALLING DOCUMENT EXCEL EXPORT FUCNTIONALITY -->
                <!-- <button type="button" (click)="downloadExcel()"
                    ngbDropdownItem
                    [ngbTooltip]="excelContent">Export excel&nbsp;
                    <fa-icon [icon]="faFileExcel" class="excel">
                    </fa-icon>
                  </button> -->

                <!-- ----------------- DO NOT REMOVE ----------------- -->
              </div>
            </div>
          </div>

          <div [ngClass]="{
              inbar: true,
              'is-infocus': toggleQueryFocusStyleBlue(),
              'is-infocus-red': toggleQueryFocusStyleRed()
            }">
            <!-- SEARCH -->
            <button
              [ngClass]="{ missing_parameters: checkIfKeyDocumentApplied() }"
              type="submit"
              class="btn btn-outline-secondary yellow"
              ngbTooltip="Click to apply your search">
              <!-- #tt="ngbTooltip" -->
              <fa-icon [icon]="faSearch"> </fa-icon>
            </button>
          </div>

        </div>
      </div>

      <div class="col-md-2 d-flex align-items-center">
        <ng-template #copyContent>Copy the query</ng-template>


        <ng-template #loadQuery>Load query</ng-template>

        <ng-template #saveQuery>Save query</ng-template>


        <ng-template #clean_query>Clean the query</ng-template>
        <ng-template #excelContent>Download 100 top results in
          excel</ng-template>
        <ng-template #advancedContent><em>Metadata filters</em>
        </ng-template>
        <ng-template #infoContent><em>Use</em><strong> AND
          </strong> connector to include
          both terms in the search.</ng-template>
        <ng-template #clickToApply><em>Click</em> to apply your
          search</ng-template>
      </div>
    </div>
    <div class="row"
      *ngIf="submitted && chips.invalid && chips.errors.forbiddenName">
      <div class="col-md-12">
        <div class="search-custom-select alert alert-danger">
          <div *ngIf="chips.errors.forbiddenName">
            {{ chips.errors.forbiddenName.value }}
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row" *ngIf="vertexes && vertexes.length > 0">
    <div class="col-md-12">
      <!-- TODO delete suggestions -->
      <!-- TODO appending mode -->
      <!-- TODO reset button -->
      <!-- TODO Make the content of suggestions (grey chips) hint box to show text: "Drag and drop me!" instead of the term string itself -->
      <tag-input [(ngModel)]="vertexes" [hideForm]="true"
        [editable]="false" [removable]="false"
        [identifyBy]="'display'" [displayBy]="'display'"
        [allowDupes]="true" [addOnBlur]="true"
        [clearOnBlur]="true" [addOnPaste]="true"
        [dragZone]="'zone1'" placement="top" [autoClose]="true"
        ngbTooltip="Drag and drop me!" container="body">
        <tag-input-dropdown [showDropdownIfEmpty]="false"
          [autocompleteObservable]="requestAutocompleteItemsFake">
        </tag-input-dropdown>
      </tag-input>
    </div>
  </div>
</div>