@import "../../../ec-styles.scss";
@import "../../../variables.scss";
@import "~node_modules/ngx-chips/core/styles/core/_core.scss";

:host {
  .excel {
    color: #209e62;
  }

  @mixin onParentHover() {
    $rootString: #{&};
    $parentIndex: str-index($rootString, " ");
    $parent: str_slice($rootString, 0, $parentIndex);
    $children: str_slice($rootString, $parentIndex);

    @at-root #{$parent} #{$children} {
      @content;
    }
  }

  .btn.btn-outline-secondary {
    background-color: #f7f7f7;
    &.searchbar-info {
      border: none;
      border-color: #868e96;
      color: #868e96;
      font-size: 0.9em;

      &:hover {
        color: #868e96;
      }
      &:focus {
        border: none;
        box-shadow: none;
      }
      &:active {
        box-shadow: none;
      }
    }
  }

  .inbar {
    border-bottom: 2px solid #efefef;
    &.is-infocus {
      border-bottom: 2px solid #0275d8;
    }

    &.is-infocus-red {
      border-bottom: 2px solid $ec-red;
    }
  }

  .btn.btn-outline-secondary.yellow {
    border: none;
    color: #0275d8;
    font-size: 1.5em;
    background-color: #f7f7f7;
    :hover {
      color: #0275d8;
    }
    &:focus {
      border: none;
      box-shadow: none;
    }
    &:active {
      box-shadow: none;
    }
    &.missing_parameters {
      color: $ec-red;
    }
  }

  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
  }

  #preselection {
    max-width: 100%;
  }

  .input-group.test {
    width: 100%;
  }

  tag-ripple {
    background: red;
  }

  ::ng-deep {
    tag-input {
      &.missing_parameters {
        .bootstrap.ng2-tag-input.ng2-tag-input--focused {
          border-bottom: 2px solid $ec-red;
        }
      }
      input[type="text"],
      textarea {
        background-color: #f7f7f7;
      }

      .bootstrap.ng2-tag-input.ng2-tag-input--focused {
        border-bottom: 2px solid #0275d8;
      }
    }
  }

  #dropdownSearch.dropdown-toggle::after {
    border: none;
  }

  .dropdown-menitem {
    // display: block;
    // width: 100%;
    padding: 0.25rem 1.5rem;
    // clear: both;
    // font-weight: 400;
    // color: #212529;
    // text-align: inherit;
    // white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  .main {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

  .clip {
    flex: auto;

    // position: absolute;
    // right: 8px;
    // top: 50%;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }

  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }

  .horal {
    text-align: right;
  }

  ul {
    list-style-type: none;
  }

  #queries.dropdown-menu {
    min-width: 400px;
    resize: both;
    overflow: auto;
  }
}
