<div class="card updates d-flex  shadow-sm rounded">
	<div
		class="card-header d-flex justify-content-between align-items-center">
		<h2 class="h4">
			<a data-toggle="collapse" data-parent="#similar-documents"
				href="#documents-box" aria-expanded="true"
				aria-controls="documents-box">Most similar documents</a>
		</h2>
	</div>
	<app-corpus></app-corpus>
</div>
