@import '../../../variables.scss';
.node {
	stroke: #fff;
	stroke-width: 1.5px;
}
.link {
	stroke: #999;
	stroke-opacity: 0.6;
}

div.similarTooltip {
	position: absolute;
	background-color: white;
	max-width: 200px;
	height: auto;
	padding: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	border-width: 1px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	pointer-events: none;
}


#myChartContainer {
	height: 100vh;
}