:host {
  display: flex;

  .btn.btn-outline-secondary {
    // background-color: #f7f7f7;
    &.searchbar-info {
      border: none;
      // border-color: #868e96;
      // color: #868e96;
      // font-size: 0.9em;

      &:hover {
        background-color: #f7fbff;
        color: #868e96;
      }
      // &:focus {
      //   border: none;
      //   box-shadow: none;
      // }
      // &:active {
      //   box-shadow: none;
      // }
    }
  }

  tree-root {
    min-height: 41px;

    .node-content-wrapper {
      display: flex;
      align-items: center;

      .name {
        vertical-align: middle;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 1rem;
        font-weight: 400;
        color: #16181b;
        // background-color: #f8f9fa;
        background-color: #ffffff;
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
      }

      .icon-action {
        width: 30px;
        height: 30px;

        img {
          display: flex;

          height: 20px;
          width: 20px;
          margin-top: 5px;
          margin-bottom: 5px;

          filter: invert(58%) sepia(9%) saturate(291%) hue-rotate(169deg) brightness(93%) contrast(98%);
          font-size: 0.9em;

          &.delete {
            filter: invert(25%) sepia(90%) saturate(3670%) hue-rotate(341deg) brightness(85%) contrast(100%);
          }
        }
      }
    }
  }

  ::ng-deep {
    tree-node-content > span.ng-star-inserted {
      // margin-top: 8px;
      padding-top: 5px;
    }
    .toggle-children {
      height: 30px !important;
      width: 30px !important;
      top: 2px !important;
      transform: none !important;
    }

    .toggle-children {
      height: 30px !important;
      width: 30px !important;
      top: 2px !important;
      transform: none !important;
    }

    .toggle-children-placeholder {
      height: 30px !important;
      width: 30px !important;
      top: 2px !important;
      transform: none !important;
  }

    // tree-node tree-node-leaf ng-star-inserted
    .node-wrapper.tree-node-leaf {
      span.toggle-children-placeholder.ng-star-inserted {
        background-image: none;
      }
    }

    .node-wrapper.tree-node-collapsed.tree-node-folder {
      /* span.toggle-children-placeholder.ng-star-inserted {
        display: block;
        width: 20px;
        height: 20px;
        margin: 2px;
        background-image: url("../../../assets/folder2.svg");
        background-size: 20px 20px;
        background-position: center;
        filter: invert(58%) sepia(9%) saturate(291%) hue-rotate(169deg) brightness(93%) contrast(98%);
        font-size: 0.9em;
      } */
      .toggle-children {
        background-image: url("../../../assets/folder2.svg");
        background-size: 20px 20px;
        background-position: center;
        filter: invert(58%) sepia(9%) saturate(291%) hue-rotate(169deg) brightness(93%) contrast(98%);
        font-size: 0.9em;
      }
    }

    .node-wrapper.tree-node-expanded.tree-node-folder {
      /* span.toggle-children-placeholder.ng-star-inserted {
        display: block;
        width: 20px;
        height: 20px;
        margin: 2px;
        background-image: url("../../../assets/folder-open2.svg");
        background-size: 20px 20px;
        background-position: center;
        filter: invert(58%) sepia(9%) saturate(291%) hue-rotate(169deg) brightness(93%) contrast(98%);
        font-size: 0.9em;
      } */
      .toggle-children {
        background-image: url("../../../assets/folder-open2.svg");
        background-size: 20px 20px;
        background-position: center;
        filter: invert(58%) sepia(9%) saturate(291%) hue-rotate(169deg) brightness(93%) contrast(98%);
        font-size: 0.9em;
      }
    }

    .node-wrapper.tree-node-expanded-special.tree-node-folder {
      span.toggle-children-placeholder.ng-star-inserted {
        display: block;
        width: 20px;
        height: 20px;
        margin: 2px;
        background-image: url("../../../assets/folder-open2.svg");
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(58%) sepia(9%) saturate(291%) hue-rotate(169deg) brightness(93%) contrast(98%);
        font-size: 0.9em;
      }
    }

    .node-wrapper.tree-node-collapsed-special.tree-node-folder {
      span.toggle-children-placeholder.ng-star-inserted {
        display: block;
        width: 20px;
        height: 20px;
        margin: 2px;
        background-image: url("../../../assets/folder2.svg");
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(58%) sepia(9%) saturate(291%) hue-rotate(169deg) brightness(93%) contrast(98%);
        font-size: 0.9em;
      }
    }
  }
}
