a.ecl-card.list-group-item-action {
	background-color: white;
	padding: 0.5rem;
	border-bottom: 1px solid #ebebeb;
	border-top: none;
	border-left: none;
	border-right: none;
}
a.ecl-card.list-group-item-action:hover {
	background-color: #f5f5f5;
}
.list-group {
	max-height: 50vh;
	overflow: auto;
}

.list-group-item {
	cursor: pointer;
}
.wikiContainer {
	margin-top: 40px;
}

.icon.external-link {
	cursor: pointer;
}


